---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wordpress1-ingress
  namespace: amber
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web, websecure
    cert-manager.io/cluster-issuer: "cluster-issuer"
spec:
  tls:
   - hosts:
       - wordpress1.eks.zacharyironside.com
     secretName: wordpress1-ingress-cert
  rules:
    - host: wordpress1.eks.zacharyironside.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name:  wordpress1
                port:
                  number: 80
--- 
apiVersion: v1
kind: Service
metadata:
  name: wordpress1
  namespace: amber
spec:
  selector:
    app: wordpress1
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress1
  namespace: amber
  labels:
    app: wordpress1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wordpress1

  template:
    metadata:
      labels:
        app: wordpress1
    spec:
      nodeSelector:
        env: amber
      containers:
      - name: wordpress1
        image: wordpress
        ports:
        - containerPort: 80
        env:
            - name: DB_HOST
              value: mysql.default
            - name: DB_USER
              value: wordpress1
            - name: DB_PASS
              value: secretword